*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.person-imgs {
  width: 6vh;
    height: 31px;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 6px;
    border: 4px solid white;
}

.dots {
  width: 9px;
  height: 9px;
  position: relative;
  left: 90%;
  top: -18%;
  position: fixed;
}

.sortable-list {
  border-radius: 18px;
  width: 30vw;
  height: 70vh;
  background-image: linear-gradient(to right top, #f3f8ff, #f7f9ff, #fafbff, #fdfdff, #ffffff);
}

.sortable-list .item{
  margin-right: 12px;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid red;
  background-color: antiquewhite;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-profile {
  height: 50%;
  margin-top: 54px;
  margin-left: 12px;
}
.dragging :where(.details , img) {
  opacity: 0;
}

