@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

* {
  font-family: "Playfair Display", serif;
}

body {
  background-color: antiquewhite;
}

.container {
  margin-top: 8%;
  text-align: center;
  background-color: rgb(246, 242, 242);
  border-radius: 4px;
  position: relative;
  box-shadow: 0 10px 20px 0 rgb(0, 0, 0.5);
}

.container h1 {
  margin-top: 12px;
  font-weight: 600;
  color: rgb(197, 190, 152);
  margin-bottom: 2px solid rgb(135, 133, 133);
}

blockquote {
  margin-top: 34px;
  font-size: 26px;
  min-height: 110px;
}

span {
  display: block;
}

.btn-div {
  min-width: 12%;
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 22px;
}

.btn-div button {
  margin-bottom: 12px;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgb(235, 202, 159);
  color: #fff;
  transition: all 0.3s;
  box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.btn-div button:hover {
  transform: translateY(-1.1px);
}

.btn-div button:active {
  transform: translateY(1.1px);
}

.btn-div img {
  width: 14px;
}

.author-img {
  width: 32px;
}
